.conteiner {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    /* grid-template-rows: repeat(5, 1fr); */
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.producto {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.producto img {
  width: 100%;
}

.producto-texto {
    padding: 1em;
}

.description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.logos {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}

